*{
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.container{
	max-width: 860px;
	margin-bottom: 3em;
}

h1{
	margin-top: 1em;
}

.game-board{
	background-color: #381D2A;
	border-radius: 20px;
	margin-top: 1em;
	padding: 15px;
	-webkit-box-shadow: 10px 10px 13px 0px #ababab;
	        box-shadow: 10px 10px 13px 0px #ababab;
}

.back, .front{
	border-radius: 10px;
	height: 170px;
	width: 100%;
}

.front{
	background-color: #3581B8;
}

.order-13 {
    -ms-flex-order: 13;
    -webkit-box-ordinal-group: 14;
            order: 13;
}

.order-14 {
    -ms-flex-order: 13;
    -webkit-box-ordinal-group: 14;
            order: 13;
}

.order-15 {
    -ms-flex-order: 13;
    -webkit-box-ordinal-group: 14;
            order: 13;
}

.order-16 {
    -ms-flex-order: 13;
    -webkit-box-ordinal-group: 14;
            order: 13;
}

/* flipping cards based on https://davidwalsh.name/css-flip */
/* entire container, keeps perspective */
.flip-container {
	margin: 15px 0;
	-webkit-perspective: 1000px;
	        perspective: 1000px;
}
	/* flip the pane when hovered */
.rotate, .match {
		-webkit-transform: rotateY(180deg);
		        transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 100%;
	height: 170px;
}

/* flip speed goes here */
.flipper, .match {
	-webkit-transition: 0.4s;
	transition: 0.4s;
	-webkit-transform-style: preserve-3d;
	        transform-style: preserve-3d;

	position: relative;
}

.flipper{
	cursor: pointer;
}

/* hide back of pane during swap */
.front, .back {
	-webkit-backface-visibility: hidden;
	        backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	-webkit-transform: rotateY(0deg);
	        transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	background-color: #F39B6D;
	line-height: 13em;
	text-align: center;
	-webkit-transform: rotateY(180deg);
	        transform: rotateY(180deg);
}

.back i {
    color: #1D4765;
    text-align: center;
}

.front, .back, .flipper{
	-webkit-transition-timing-function: ease;
	        transition-timing-function: ease;
}
